.Forecast .card.forecast {
  height: 90px;
  width: 70px;
  margin-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.5);
}

.Forecast .card-text.forecast {
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.5px;
}

.Forecast .col {
  padding: 4px 5px;
}

.Forecast .card-body {
  padding: 7px;
}

.Forecast h5 {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.Forecast h5.card-title {
  margin-bottom: 0px;
}

.Forecast img.icons {
  height: 45px;
}
