.WeatherForecast .card.forecast {
  height: 90px;
  width: 70px;
  margin-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}

.WeatherForecast .card-text.forecast {
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.5px;
}

.WeatherForecast .card-body {
  padding: 7px;
}

.fas.fa-cloud-rain,
.far.fa-sun,
.fas.fa-cloud-showers-heavy,
.fas.fa-cloud-sun-rain,
.fas.fa-snowflake {
  font-size: 20px;
  padding: 3px 0px;
}

.WeatherForecast h5 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 3px;
  text-align: center;
  text-transform: uppercase;
}

.temp-max,
.temp-min {
  line-height: 20px;
}

.WeatherForecast .temp-min {
  opacity: 0.8;
}
