.Weather {
  color: white;
}
.Weather .form-control {
  margin-top: 40px;
  max-width: 200px;
}

.Weather .btn {
  margin-top: 40px;
  color: white;
  border: solid 1px white;
  background-color: rgba(255, 255, 255, 0.2);
}
.Weather h2 {
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
}

.Weather h3 {
  font-size: 22px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
}

.Weather h1 {
  text-align: center;
  font-size: 60px;
  line-height: 12px;
  margin-top: 40px;
  margin-bottom: 0px;
}

.Weather span#celsius,
.Weather span#fahrenheit {
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-decoration: underline;
}
.Weather a#celsius:hover,
.Weather a#fahrenheit:hover {
  text-decoration: none;
}
.Weather span#fahrenheit {
  position: relative;
  top: -40px;
  left: 45px;
}

.Weather span#celsius {
  position: relative;
  top: -38px;
  left: 45px;
}

.Weather .active {
  cursor: default;
  font-size: 23px !important;
  text-decoration: none !important;
  position: relative;
}

.Weather .card-text.emoji {
  margin-bottom: 0px;
  padding-top: 30px;
}

.Weather .card.weatherdetails {
  background-color: rgba(250, 250, 250, 0);
  border: none;
  font-size: 15px;
  top: -20px;
}

.Weather .card.icon {
  background-color: rgba(250, 250, 250, 0);
  border: none;
  font-size: 15px;
  top: -40px;
}

.Weather p.units {
  margin-bottom: 0px;
}

.Weather .col-sm-6 {
  text-align: center;
  height: 170px;
}

.Weather ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  text-align: left;
  margin-top: 10px;
  padding-top: 20px;
}

.Weather p#description {
  font-style: italic;
  line-height: 20px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.morning {
  background: url("/src/images/ambackground.jpg");
}

.afternoon {
  background: url("/src/images/afternoonbackground.jpg");
}

.evening {
  background: url("/src/images/nightbackground.jpg");
}

.background {
  background-repeat: no-repeat;
  max-width: 450px;
  height: 600px;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .Weather .col-sm-6 {
    text-align: center;
    height: 100px;
    width: 200px;
  }

  .Weather .row {
    padding-bottom: 90px;
  }
}
