.WeatherForecast .card.forecast {
  height: 90px;
  width: 70px;
  margin-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.63);
  border: none;
}

.WeatherForecast .card-text.forecast {
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.5px;
}

.WeatherForecast .card-body {
  padding: 7px;
}

.WeatherForecast h5 {
  font-size: 14px;
  margin-top: 3px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.temp-max,
.temp-min {
  line-height: 20px;
}

.WeatherForecast .temp-min {
  opacity: 0.9;
}

.WeatherForecast .col {
  padding: 4px;
}
